Flask==3.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-WTF==1.2.1
email-validator==1.1.2
nose2==0.14.0
python-dotenv==1.0.0
selenium==4.16.0
